@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: system-ui;
    line-height: 1.5;
    background-color: hsl(0, 0%, 100%);
}

section {
    border: 1px solid red;
    padding-block: 3rem;
    font-size: clamp(.5rem, 2.5vw, 2rem);
}

.first-section {
    margin-top: 1.5rem;
}

section:nth-child(even) {
    background-color: #fff;
    color: black;
}

section:nth-child(odd) {
    background-color: black;
    color: #fff;
}

.wrapper {
    border: 1px solid red;
    width: 50dvw;
    margin-inline: auto;
}

.wrapper > p {
    text-align: justify;
}

.logo {
    border: 1px solid red;
    position: sticky;
    top: 0.5rem;
    color: #fff;
    width: 7rem;
    margin: 1.5rem;
    font-size: clamp(1.175rem, 4vw, 5rem);
    font-weight: 900;
    text-transform: uppercase;
    mix-blend-mode: difference; /* Para alternar com a cor de fundo. */
}

.nav {
    border: 1px solid red;
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 3%;
}

.nav > a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-left: 2rem;
}
